[package]
name = "lefthk"
version = "0.1.6"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/leftwm/lefthk"
description = "A hotkey daemon for Adventurers"

[dependencies]
clap = "2.3.0"
kdl = "3.0.0"
lefthk-core = { path = "../lefthk-core", version = '0.1'}
log = "0.4.14"
pretty_env_logger = "0.4.0"
serde = { version = "1.0.130", features = ["derive"] }
serde_kdl = "0.1.0"
thiserror = "1.0.30"
tokio = { version = "1.14.0", features = ["fs", "io-util", "macros", "net", "rt-multi-thread", "sync", "time"] }
xdg = "2.4.0"

[dev-dependencies]
tempfile = "3.2.0"
