[package]
name = "lefthk-core"
version = "0.1.4"
edition = "2018"
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/leftwm/lefthk"
description = "A hotkey daemon for Adventurers"

[dependencies]
log = "0.4.14"
mio = "0.8.0"
nix = "0.23.0"
signal-hook = "0.3.4"
thiserror = "1.0.30"
tokio = { version = "1.14.0", features = ["fs", "io-util", "macros", "net", "rt-multi-thread", "sync", "time"] }
x11-dl = "2.19.1"
xdg = "2.4.0"

[dev-dependencies]
tempfile = "3.2.0"
